.player {
    margin: 2.25rem 7%;
    min-width: calc(100vw - 12rem);
    // margin: auto;
    // width: 100%;
    position: fixed;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    // align-items: center;
    // align-items: flex-end;
    // font-size: 0.65rem;
    // padding: 2rem 0;
    height: 4rem;
    font-weight: 300;
    // position: absolute;
    // flex: 1 0 auto;
}