@use '../../styles/partials/variables' as *;

.playlists {
    // margin: -5% 7% 0 7%;
    // margin-top: -5%;
    width: 40%;
    max-width: 30rem;

    .song {
        // padding: inherit;
        // line-height: inherit;
        // height: inherit;
        width: 100%;
        display: inline-block;

        &__results {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &:hover {
            background-color: $lightgray;
        }
    }
}