@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Thin-100.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-ExtraLight-200.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Light-300.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Regular-400.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Medium-500.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-SemiBold-600.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Bold-700.ttf');
    font-weight: 700;
}

