@use '../../styles/partials/variables' as *;

footer {
    // background-color: yellow;
    margin: 0.75rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.65rem;
    // padding: 2rem 0;
    height: 4rem;
    font-weight: 300;
    // position: absolute;
    padding-top: 3rem;
    flex: 1 0 auto;
}